
.navbar{
    display: flex;
    margin-top: 1em;
    padding-bottom: 2em;
    border-bottom: solid 1px;
}

.navbar-username{
    margin-right: auto;
    font-weight: bold;
}

.navbar-links{
    display: flex;
}

.navbar-links a{
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0 0.5em;
    transition: transform 0.5s;
}
.navbar-links a:hover{
    transform: scale(1.2);
}

.navbar-theme-button{
    font-size: 1.3em;
    margin-left: 0.5em;
}